.app-list-item {
    font-size: 1.25rem;
    background-color: #fff;
}
.app-list-item-actions {
    background-color: #fff;
}

.app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}
.app-list-item i {
    background-color: #fff;
}

.app-list-item span {
    background-color: #fff;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}
.app-list-item .btn-star {
    color: #15a32c;
}
.app-list-item .btn-trash {
    color: red;
}
.app-list-item .fa-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: red;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.app-list-item-label {
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
}

.app-list-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
    padding: 0 5px;
    color: #15a32c;
}

.app-list-item.important .btn-star {
    border: 1px solid #15a32c;
    border-radius: 100%;
}

.add-like {
    color: #1cd7dd;
    transition: all 0.5s ease 0s;
}
.app-list-item.like .add-like {
    transform: scaleX(-1);
    transition: all 0.5s ease 0s;
    color: #4042d1;
}
